<h1>Landing Page Sample Text</h1>

<body>

<ul><%= link_to 'Reports', reports_path %></ul>
<ul><%= link_to 'Employees', users_path %></ul>
<ul><%= link_to 'Accidents', accidents_path %></ul>
<ul><%= link_to 'New report', new_report_path %></ul>
<ul><%= link_to 'logout', logout_path %></ul>

</body>